 input, select {
    color: blue;
    text-align: center; text-transform: uppercase;
    border-color: turquoise;
    padding: 10px;
    background-color: rgb(47, 230, 230);
    border-radius: 5mm;
    cursor: pointer;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(25, 94, 197);
    border-radius: 2mm;
    text-shadow: 50px;
    padding: 10px 30px;
    cursor: pointer;
}